.footer {
  background: #fff;
}
.footer__component {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 100px;
  padding: 30px 0;
  background: #fff;
}
.footer__childrens {
  display: flex;
  flex-direction: column;
  margin: 14px 0;
}
.footer__childrens a,
span {
  text-decoration: none;
  color: rgb(22, 22, 22);
  line-height: 30px;
  font-size: 0.9rem;
}
.footer__childrens a:hover {
  color: #837ee0;
}
.footer__content h4 {
  border-bottom: 2px solid #837ee0;
}

/*=========== Footer Icons ============*/
.social__icons {
  margin: 0 100px;
  border-bottom: 1px solid gainsboro;
}
.icon {
  margin: 0 10px 5px 0;
}
.icon:hover {
  color: #837ee0;
}
/*=========== Copyright Section ============*/
.copyright__section {
  margin: 10px;
  display: flex;
  justify-content: center;
}

/*=========== Media Queries ============*/
@media (max-width: 640px) {
  .footer__component {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 50px;
    padding: 30px 0;
  }
  .footer__content h4 {
    border-bottom: none;
    font-size: 1.3rem;
  }
  .footer__childrens a,
  span {
    text-decoration: none;
    line-height: 30px;
    font-size: 1.05rem;
  }
  .social__icons {
    position: relative;
    left: 230px;
    margin: 0 50px;
    border-bottom: 1px solid gainsboro;
  }
  .icon {
    margin: 0 0px 0px 0;
  }
}
@media screen and (max-width: 768px) {
  .footer__component {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 50px;
    padding: 30px 0;
  }
  .footer__content {
    margin-left: 8px;
  }
  .footer__content h4 {
    border-bottom: none;
    font-size: 1.6rem;
  }
  .footer__childrens a,
  span {
    font-size: 1.2rem;
  }
  .social__icons {
    position: relative;
    left: 310px;
  }
}
