/*============  First Component  =============*/
.header {
  background-color: #fff;
}
.header__component {
  margin: 0 100px;
}
.component__one__content {
  display: flex;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #837ee0;
}
.search__field {
  background: whitesmoke;
  display: flex;
  align-items: center;
}
.search__field input {
  padding: 14px 20px;
  width: 300px;
  outline: none;
  border: none;
  background: whitesmoke;
}
input::placeholder {
  font-size: 17px;
}
.search__icon {
  position: relative;
  left: 10px;
}
.gift__icon {
  display: flex;
  align-items: center;
}
.checkout__basket {
  display: flex;
  align-items: center;
}
.checkout__basket span {
  font-weight: 500;
}
.market__place a {
  text-decoration: none;
  color: rgb(27, 25, 25);
}
.header__logo span {
  cursor: pointer;
  color: #837ee0;
  font-size: 1.2rem;
  font-style: italic;
}
.market__place span:hover {
  cursor: pointer;
  color: #837ee0;
}
.market__place span {
  font-size: 1rem;
}
.gift__icon:hover,
span:hover {
  color: #837ee0;
  cursor: pointer;
}
.mobile__header {
  display: none;
}
/*============  Second Component  =============*/
.nav__links {
  text-align: center;
  padding: 14px;
}
.nav__links a {
  text-decoration: none;
  color: rgb(29, 27, 27);
  margin: 20px;
}
.nav__links a:hover {
  color: #837ee0;
}

/*============  Media Queries =============*/
@media screen and (max-width: 680px) {
  .component__one__content {
    display: none;
  }
  .nav__links {
    display: none;
  }
  .mobile__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
  }
  .header__component {
    margin: 0 50px;
  }
}
@media screen and (max-width: 768px) {
  .component__one__content {
    display: none;
  }
  .nav__links {
    display: none;
  }
  .mobile__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
  }
  .header__component {
    margin: 0 50px;
  }
}
@media screen and (max-width: 960px) {
  .search__field input {
    padding: 14px 20px;
    width: 240px;
    outline: none;
    border: none;
    background: whitesmoke;
  }
}
