/*==============  Components One  ===============*/
.header__componentsOne {
  display: flex;
  background: #fff;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  border-bottom: 1px solid gainsboro;
}

.search__field {
  display: flex;
  border-radius: 8px;
  align-items: center;
  background-color: whitesmoke;
  color: gray;
}
.search__field > input {
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 14px 50px;
  background-color: whitesmoke;
}
.search__icon {
  padding-left: 5px;
}
.shopping__basket {
  display: flex;
  align-items: center;
}
.shopping__basket span {
  font-weight: 500;
}
.card__icon {
  display: flex;
  align-items: center;
  color: rgb(99, 96, 96);
}
.header__componentsOne a {
  text-decoration: none;
  color: rgb(99, 96, 96);
}
/*==============  Components Two  ===============*/
.header__componentsTwo {
  padding: 0px 80px;
  background: #fff;
}
.nav__links {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #fff;
}
.nav__links a {
  margin: 10px 20px;
  text-decoration: none;
  color: rgb(99, 96, 96);
}
