.desc {
  background: #fff;
}
.desc__component {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  margin: 0 100px;
}
.right_component {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.left_component {
  margin-top: 20px;
}
.left_component p {
  margin: 20px 48px 0 0;
  font-size: 0.96rem;
  font-weight: 300;
  line-height: 25px;
}
