.desc {
  background: #fff;
}
.desc__component {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  margin: 0 100px;
}
.right_component {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.left_component {
  margin-top: 20px;
}
.left_component p {
  margin: 20px 48px 0 0;
  font-size: 0.96rem;
  font-weight: 300;
  line-height: 25px;
}

/* =========== Media Queries ============ */
@media (max-width: 680px) {
  .desc__component {
    display: flex;
    flex-direction: column;
    margin: 0 50px;
  }
  .right_component {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px), (max-width: 960px) {
  .desc__component {
    display: flex;
    flex-direction: column;
    margin: 0 50px;
  }
  .right_component {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 5px;
  }
  .left_component p {
    font-size: 1.1rem;
  }
}
