.testimonials {
  background: #fff;
  padding: 100px 0;
}
.testimonials__component {
  margin: 0 100px;
}
.testimonails__content {
  display: flex;
}
.testimony {
  text-align: center;
  margin: 20px;
  padding: 30px 0;
  border-radius: 10px;
  border: 1px solid #837ee0;
}
.testimony img {
  margin-top: 10px;
  width: 40px;
}
.testimony p {
  font-size: 0.95rem;
  line-height: 25px;
  font-weight: 300;
  padding: 0 30px;
  margin-top: 10px;
}
.testimonials__component h3 {
  display: flex;
  justify-content: center;
  padding: 30px;
  font-size: 1.6rem;
}
