.explore_component img {
  width: 40px;
  padding-bottom: 10px;
}
.explore_component h3 {
  padding-bottom: 5px;
}
.explore_component {
  width: 16rem;
  padding: 60px 0;
  text-align: center;
  background: #fff;
  border-radius: 8px;
  outline: blue;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.24);
}

.explore_component p {
  font-size: 0.85rem;
  font-weight: 300;
  margin: 0 20px;
}
