.right_content {
  margin: 20px 0;
  background: #fff;
}
.content_component {
  display: flex;
  padding: 20px 0;
  margin: 10px;
  border: 1px solid #837ee0;
  border-radius: 8px;
}
.content_component img {
  padding-left: 10px;
  width: 40px;
  height: 40px;
}
.little_desc p {
  font-size: 0.9rem;
  font-weight: 300;
  margin: 16px 0;
  line-height: 25px;
  padding: 0 20px 0 0;
}
.little_desc {
  padding-left: 30px;
}
